---
import { Icon } from 'astro-icon/components'

type InputType = 'text' | 'password' | 'email' | 'number';

type IconsType = 'user' | 'lock' | 'mail' | 'phone'

interface Props {
    label: string;
    placeholder: string;
    type: InputType | undefined;
    name: string;
    icon: IconsType;
}

const { label, placeholder, type, name, icon } = Astro.props;
---

<div class="input-container">
    <label for={name}>{label}</label>
    <div class="input-wrapper">
        <span><Icon name={icon}/></span>
        <input type={type} name={name} placeholder={placeholder} required />
        {type == 'password' ? <span class="show-password"><Icon name="eye"/></span> : ''}
    </div>
</div>

<style>
    .input-container{
        display: flex;
        flex-direction: column;
        gap: .8rem;
        width: 100%;
        
        label{
            color: var(--primary-text);
            font-size: 1.6rem;
            font-weight: 700;
            margin-left: 0.8rem;
        }
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4.8rem;
            height: 100%;
            font-size: 2.4rem;
            color: var(--primary-text);
        }
        .input-wrapper:focus-within{
            border: 1px solid var(--borders);
        }
        .input-wrapper{
            position: relative;
            background-color: #ffffff;
            width: 100%;
            height: 4.8rem;
            border-radius: .8rem;
            border: 1.5px solid #ecedec;
            display: flex;
            align-items: center;
            overflow: hidden;
            
            input:focus {
                outline: none;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            input{
                width: 100%;
                height: 100%;
                border: none;
                font-size: 1.4rem;
            }
        }
        .show-password{
            cursor: pointer;
        }
    }
</style>