---
import { Icon } from "astro-icon/components";

type InputType = "text" | "password" | "email" | "number";

type IconsType = "user" | "lock" | "mail" | "phone";

interface Props {
  label: string;
  placeholder: string;
  type: InputType | undefined;
  name: string;
  icon?: IconsType;
  pattern?: string;
  title?: string;
  minlength?: string;
  maxlength?: string;
}

const {
  label,
  placeholder,
  type,
  name,
  icon,
  pattern,
  title,
  maxlength,
  minlength,
} = Astro.props;
---

<script>
  function togglePasswordVisibility(name: string) {
    const input = document.getElementById(name) as HTMLInputElement;
    if (input) {
      input.type = input.type === "password" ? "text" : "password";
    }
  }
</script>

<div class="input-container">
  <label for={name}>{label}</label>
  <div class="input-wrapper">
    {
      icon ? (
        <span>
          <Icon name={icon} />
        </span>
      ) : (
        ""
      )
    }
    <input
      type={type}
      name={name}
      placeholder={placeholder}
      pattern={pattern}
      title={title}
      minlength={minlength}
      maxlength={maxlength}
      id={name}
      required
    />
    {
      type == "password" ? (
        <span
          class="show-password"
          id="eye-icon"
          onclick={`togglePasswordVisibility(${name})`}
        >
          <Icon name="eye" />
        </span>
      ) : (
        ""
      )
    }
  </div>
</div>

<style>
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;

    label {
      color: var(--primary-text);
      font-size: 1.6rem;
      font-weight: 700;
      margin-left: 0.8rem;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4.8rem;
      height: 100%;
      font-size: 2.4rem;
      color: var(--primary-text);
    }
    .input-wrapper {
      position: relative;
      background-color: var(--secondary-background);
      width: 100%;
      height: 4.8rem;
      border-radius: 0.8rem;
      display: flex;
      align-items: center;
      overflow: hidden;
      border: 1px solid var(--dividers);
      &:focus-within {
        border: 1px solid var(--borders);
      }
      input {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 1.4rem;
      }
    }
    .show-password {
      cursor: pointer;
    }
  }
</style>
